body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: 'Inter', sans-serif;
}


/* HERO & NAV  */
main {
    position: relative;
    text-align: center;
    margin-bottom: -5px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

img {
    width: 100%; 
    margin-bottom: 0;
}


.nav-bar {
    background-color: #0A4136; 
    color: white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%; 
    margin-top: 30px;
    padding: 10px 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}

#logo {
    font-weight: 700;
}

.nav-items {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

.nav-items li {
    display: inline;
    margin: 0 15px;
}

.nav-items li:hover {
    font-weight: bold;
    cursor: pointer; 
}


/* ANIMATION */
aside {
    background-color: #0A4136;
    height: auto;
    overflow: hidden; 
}

.text-animation {
    margin: 0; 
    color: white;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap; 
    animation: slide 15s linear infinite; 
    padding: 20px; 
}

@keyframes slide {
    0% {
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


/* SAUCE SECTION */
.secret-sauce {
    background-color: #f5f5dc;
    color: #0A4136;
    height: auto;
    padding: 30px;
    text-align: center;
}


/* MENU SECTION & CAROUSEL */
.menu-section {
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background-color: #0A4136;
    overflow-x: hidden; 
}

.scroll-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    list-style-type: none;
}

.scroll-item {
    padding-top: 20px;
    scroll-snap-align: center;
    width: 50%;
    position: relative; 
}

.scroll-item img {
    border-radius: 5px; 
    margin-bottom: 30px;
    
}

.scroll-container[data-layoutmethod="flexbox"] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}

.scroll-container[data-layoutmethod="flexbox"] .scroll-item {
    padding-left: 0;
    margin-right: 15px;
    flex: 0 0 auto;
    min-width: 0; 
}

.scroll-container[data-layoutmethod="flexbox"] .scroll-item img {
    max-width: 100%; 
    height: auto; 
}


.scroll-container::-webkit-scrollbar {
    height: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #062a23; 
    border-radius: 6px; 
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #062a23; 
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f14a; 
    border-radius: 50px; 
}


/* RESERVATION FORM */
.reservation-section {
    background-color: beige;
    padding-bottom: 30px;
}

.reservation-section h1 {
    color: #0A4136;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px; 
    color: #0A4136;
    border-radius: 10px; 
}

.form-group {
    margin-bottom: 20px; 
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #0A4136; 
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="date"] {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box; 
}

.date-time-pax {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; 
}

button {
    background-color: #0A4136; 
    font-family: 'Inter', sans-serif;
    font-size: 0px;
    font-weight: 500;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 40px;
    width: 200px;
    margin: 10PX auto; 
}

button:hover {
    background-color: #EF4224;
}



/* PROMOTION AND CAROUSEL*/
.promotion-section {
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background-color: #0A4136;
    overflow-x: hidden; 
}

.promo-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    list-style-type: none;
}

.promo-item {
    padding-top: 20px;
    scroll-snap-align: center;
    width: 60%;
}

.promo-item img {
    border-radius: 5px; 
    margin-bottom: 30px;
}

.promo-container[data-layoutmethod="flexbox"] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}

.promo-container[data-layoutmethod="flexbox"] .promo-item {
    padding-left: 0;
    margin-right: 15px;
    flex: 0 0 auto;
    min-width: 0; 
}

.promo-container[data-layoutmethod="flexbox"] .promo-item img {
    max-width: 100%; 
    height: auto; 
}

.promo-container::-webkit-scrollbar {
    height: 10px;
}

.promo-container::-webkit-scrollbar-thumb {
    background-color: #062a23; 
    border-radius: 6px; 
}

.promo-container::-webkit-scrollbar-thumb:hover {
    background-color: #062a23; 
}

.promo-container::-webkit-scrollbar-track {
    background-color: #f1f1f14a; 
    border-radius: 50px; 
}


/* LOCATION*/
.location-section{
    text-align: center;
    padding: 30px;
    color: #0A4136;
    background-color: beige;
}

.location-section p {
    margin-top: -10px;
}

.locations-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-top: 30px;
}

.location {
    text-align: center;
    width: 30%;
    border-right: 1px solid #ccc; 
    padding-right: 20px; 
}

.location:last-child {
    border-right: none; 
}

.location img {
    width: 40px; 
    height: 40px;
}

.location h2 {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}

.location a {
    text-decoration: none;
    color: #0A4136;
}

.location a:hover {
    font-weight: bold;
    cursor: pointer; 
}

.location p {
    font-size: 0.9em;
    color: #555;
    margin-top: -5px;
}


/* FOOTER */
footer {
    background-color: #EF4224;
    color: white;
    margin: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content h3 {
    font-size: 14px;
    margin: 20px;
    font-weight: 500;
}

.footer-content p {
    font-size: 14px;
    margin: 20px;
    font-weight: 300;
}


/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 1020px) {

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }
    
    .nav-bar {
        width: 100%; 
        font-size: 14px; 
        display: none;
    }

    .text-animation {
        font-size: 15px;
        padding: 10px;
    }

    .scroll-item,
    .promo-item {
        width: 70%; 
    }

    .locations-container {
        flex-direction: column; 
    }

    .location {
        width: 100%; 
        margin-bottom: 20px; 
        border: none;
    }

    .footer-content {
        flex-direction: column; 
        text-align: center; 
    }
}




@media (min-width: 1080px) {
    
    .nav-bar {
        width: 60%;
    }

    .scroll-item,
    .promo-item {
        width: 30%; 
    }

    .locations-container {
        justify-content: space-between; 
    }

    .location {
        width: 30%; 
        margin-bottom: 0;
    }
}




